<div class="container">
{{#if books}}
    <div class="m-3 d-flex">
        <a class="btn btn-primary ms-auto" href="/admin/book/createBook">agregar libro</a>
    </div>
    <div class="m-2">
        <table id="books" class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Imagen</th>
      <th scope="col">Precio</th>
      <th scope="col">Genero</th>
      <th scope="col">Autor</th>
      <th scope="col">Fecha</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
    </div>

    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      $('#books').DataTable({
        ajax:{
          url: '/api/book/render',
          dataSrc: ''
        },
        columns: [
          {'data': 'title'},
          {'data': 'description'},
          {'data': null, 
            'render': function(data){
              return '<img class="img-thumbnail" width="100" src="/images/'+data.image+'" alt="">'
            }
          },
          {'data': 'price'},
          {'data': 'genre'},
          {'data': 'author'},
          {'data': 'date'},
          {'data': null, 
            'render': function(data){
              var botones = "<a onclick="+"confirmar('"+data._id+"')"+" class='btn btn-danger'>Eliminar</a>" + '<a href="/admin/book/updateBook/'+data._id+'" class="btn btn-info">Editar</a>'
              return botones
            }
          }
        ],
        pageLength: 5,
        lenghtMenu: [[5,10,20,-1],[5,10,20, 'Todos']]
      });

      function confirmar(id) {
        Swal.fire({
          title: '¿Confirma eliminar el registro: '+id+'?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#6c757d',
          confirmButtonText: 'Confirmar'
        }).then((result) => {
          if (result.isConfirmed) {   
            window.location = '/api/book/delete/'+id;                              
          }
        });
      };
    </script>
{{/if}}

{{#if add}}
    <div class="m-3">
        {{>addBook}}
    </div>
{{/if}}
</div>