<div class="container">
  <div class="row row-cols-5">
    {{! CREAR CARD DE LIBRO }}
    {{#each books}}
      <section id="product" class="section-p">
        <div class="pro-container">
          <div class="pro">
            <img src="/images/{{image}}" alt="" />
            <div class="des">
              <span>Bibliocra</span>
              <h5>{{title}}</h5>
              <h4>${{price}}</h4>
              <a onclick="agregarAlCarrito('{{_id}}')" href="#"><i
                  class="fa-solid fa-cart-shopping cart"
                ></i></a>
            </div>
          </div>
        </div>
      </section>
    {{/each}}

  </div>
</div>