{{#if books}}
    <div class="m-3 d-flex">
        <form action="/api/book/buscar" method="POST">
          <div class="d-flex">
            <input class="form-control" type="text" name="nombre" id="nombre">
            <button type="submit" class="btn btn-primary">Buscar</button>
          </div>
        </form>
        <a class="btn btn-primary ms-auto" href="/admin/booksadd">agregar libro</a>
    </div>
    <div class="m-2">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each allbooks}}
    <tr>
      <td>{{title}}</td>
      <td>{{description}}</td>
      <td>
        <a href="/api/book/delete/{{_id}}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
{{/if}}

{{#if add}}
    <div class="m-3">
        {{>addBook}}
    </div>
{{/if}}