<div class="container">
    {{#if users}}
    <div class="m-3 d-flex">
        <a class="btn btn-primary ms-auto" href="/admin/useradd">agregar usuario</a>
    </div>
    <div class="m-2">
        <table id="users" class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Usuario</th>
      <th scope="col">Correo</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
      <th scope="col">Rol</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
    </div>

    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      $('#users').DataTable({
        ajax:{
          url: '/api/user/render',
          dataSrc: ''
        },
        columns: [
          {'data': 'nombre'},
          {'data': 'apellido'},
          {'data': 'usuario'},
          {'data': 'correo'},
          {'data': 'direccion'},
          {'data': 'telefono'},
          {'data': 'rol'},
          {'data': null, 
            'render': function(data){
              var botones = "<a onclick="+"confirmar('"+data._id+"')"+" class='btn btn-danger me-2'>Eliminar</a>" + '<a href="/admin/userupdate/'+data._id+'" class="btn btn-info">Editar</a>'
              return botones
            }
          }
        ],
        pageLength: 5,
        lenghtMenu: [[5,10,20,-1],[5,10,20, 'Todos']]
      });

      function confirmar(id) {
        Swal.fire({
          title: '¿Confirma eliminar el registro: '+id+'?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#6c757d',
          confirmButtonText: 'Confirmar'
        }).then((result) => {
          if (result.isConfirmed) {   
            window.location = '/api/user/delete/'+id;                              
          }
        });
      };
    </script>
{{/if}}

{{#if add}}
    <div class="m-3">
        {{>addUser}}
    </div>
{{/if}}
{{#if update}}
    <div class="m-3">
        {{>updateUser}}
    </div>
{{/if}}
</div>