<form action="/api/book/add" method="post">
  <div class="mb-3">
    <label for="title" class="form-label">Titulo</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Titulo" />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Descripcion</label>
    <textarea id="description" class="form-control" name="description" placeholder="Description"></textarea>
  </div>
  <div>
    <button type="submit" class="btn btn-primary mb-3">Agregar</button>
  </div>
</form>