<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(250, 210, 210);">
  <div class="container-fluid">
    <a
      class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold"
      href="/admin"
    >Bibliocra Admin</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#topNavBar"
      aria-controls="topNavBar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavBar">
      <ul class="navbar-nav d-flex ms-auto my-3 my-lg-0">
        {{#if auth}}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/books">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/users">Usuarios</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/sales">Ventas</a>
        </li>
        <li class="nav-item">
          <form action="/api/user/logout" method="post">
            <button type="submit" class="btn btn-primary">Cerrar sesion</button>
          </form>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>