<section id="header">

    <h1 id="#">Bibliocra</h1>

  <div>
    <ul id="navbar">
      <li><a class="" href="/">Inicio</a></li>
      <li><a href="/books">Libros</a></li>
      <li><a href="">Contacto</a></li>
      <li><a href="">Sobre nosotros</a></li>
      <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
      <li><a href="/admin"><i class="fa-solid fa-user"></i></a></li>
    </ul>
  </div>
</section>