<div class="container">
    <form action="/api/user/login" method="post">
    <input type="text" id="usuario" name="usuario" placeholder="Usuario">
    <input type="password" id="password" name="password" placeholder="Contraseña">
    <button type="submit">Iniciar sesion</button>
    </form>
</div>